# Private data preparation
eda/

# Data
data/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
.env/

# VS Code
.vscode/

# Temporary files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db